.containerDetail{
    margin: 2rem;
    width: 14rem;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    background-color: #ebc79a23;
    height: 52vh;
}

.img-producto{
    width: 100%;
}

.nombre-producto{
    font-size: 1.5rem;
    font-weight: 500;
    color: #575756e2;
    text-shadow: 1px 0px 12px rgba(0, 0, 0, 0.445);
}
.descripcion-producto{
    font-family: MuseoSans-300;
    margin: 15px auto;
}

.main-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.botonIrAlCarrito{
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    font-family: MuseoSans-300;
    color: black;
    padding: 2px 4px;
}